* {
    font-family: 'Special Elite' !important;
    font-size: 20px;
}

.travelTrivia {
    font-size: 50px;
    text-align: center;
}

/* game intro */
.start-button {
    display: block;
    margin-top: 20%;
}

/* game content */

.coverImageHolder {
    width: 650px;
    height: relative;
}

.imageHolder {
    width: 465px;
    height: relative;
    border-style: inset;
    border-width: thick;
    border-color: lightsteelblue;
}

.questionTitle {
    margin: 0 auto;
    font-weight: bold;
    background: -webkit-linear-gradient(lightsteelblue, #eee);
    padding: 10px;
    width: 465px;
}

.selector {
    margin: 0 auto;
    cursor: pointer;
    width: 250px;
}

.selector:hover {
    font-size: 24px;
    color: #007bff;
}

.selector:active {
    font-size: 20px;
    color: #007bff;
}

img {
    width: 475px;
    height: relative;
    margin: auto;
}

/* game summary */
.results li {
    padding: 5px;
}

/* media queries */
@media (max-width: 980px) {}

@media (max-width: px) {}