* {
    font-family: 'Special Elite' !important;
    font-size: 20px;
}

.travelTrivia {
    font-size: 2.5rem;
    text-align: center;
}

.tagline {
    font-size: 1.75rem;
}

/* game content */

.coverImageHolder {
    width: 70%;
    height: relative;
}

.imageHolder {
    width: 100%;
    height: relative;
    border-style: inset;
    border-width: thick;
    border-color: lightsteelblue;
}

.questionTitle {
    margin: 0 auto;
    font-weight: bold;
    background: -webkit-linear-gradient(lightsteelblue, #eee);
    padding: 10px;
    width: 465px;
}

.selector {
    margin: 0 auto;
    cursor: pointer;
    width: 250px;
}

.selector:hover {
    font-size: 1.2rem;
    color: #007bff;
}

.selector:active {
    font-size: 1rem;
    color: #007bff;
}

img {
    width: 475px;
    height: relative;
    margin: auto;
}

/* game summary */
.results li {
    padding: 5px;
}

/* media queries */
@media (max-width: 640px) {

    .container {
        min-width: 320px;
    }

    .travelTrivia {
        font-size: 1.5rem;
    }

    .tagline {
        font-size: 0.75rem;
    }

    .questionTitle {
        width: 70%;
    }

    p {
        text-align: center;
        font-size: 0.75rem;
    }

    .selector {
        font-size: 0.75rem;
    }

    .selector:hover {
        font-size: 1rem;
    }

    .selector:active {
        font-size: 0.75rem;
    }

    .btn {
        font-size: 70% !important;
    }

}