* {
    font-family: 'Special Elite';
    font-size: 20px;
}

.travelTrivia {
    font-size: 50px;
    margin-bottom: 0 !important;
}

.quiz,
.summary {
    display: none;
}

.image-holder {
    width: 475px;
    height: relative;
}

.quiz ul {
    list-style: none;
    padding: 0;
    width: 350px;
}

.quiz li {
    cursor: pointer;
}

.selected {
    background-color: lightsteelblue;
}